*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    
    img{
        border-radius: 4px;
    }
}
body{
    width: 100%;
    height: 100vh;
    background-color: #B49594;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;

    .menu-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            list-style: none;
            padding: 20px;  
            
            li{
                display: inline;
            }
        
            a{
                padding: 10px;
                text-decoration: none;
                color: black;
                font-size: 20px;

                &:hover{
                    color: white;
                }
            }
        }
    }

    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        float: right;

        li{
            display: inline-block;
            margin-right: 20px;
        
            a{
                ion-icon{
                    font-size: 25px; /*Tamanho do ícone*/
                    margin: 15px 0; /*espaço entre o ícone e o título do feature*/
                    color: black;

                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 150px;
        height: auto;
    }

    hr{
        width: 100%;
    }
}

.swiper-container{
    height: 500px;

    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
                
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#secao1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5DFE5;
    height: 270px;

    .ball{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
        margin: 0 25px;
        transition: transform 0.5s;

        &:hover{
            transform: scale(1.20);
        }
        
        img{
            position: absolute;
            object-fit: cover;
            bottom: 0;
            width: 100%;
            height: 100%;            
        }
    }
}

main{
    display: flex;
    justify-content: space-around;
    
    #empresa{
        width: 35%;
        margin-top: 15%;

        h2{
            padding: 20px;
        }

        p{
            padding: 20px;
        }
    }

    #galeria{
        width: 50%;
        display: flex;
        margin-top: 45px;

        p{
            padding: 10px;
            font-size: 12px;
            text-align: center;
            margin-bottom: 15px;
        }

        h3{
            text-align: center;
            font-size: 15px;
        }

        #image1{
            width: 45%;
            margin-right: 10px;
            padding: 45px 0;

            figure{
                img{
                    width: auto;
                    height: 450px;
                }
            }            
        }

        #image2{
            figure{
                img{
                    width: 350px;
                    height: auto;
                }
            }
        }

        #image3{
            figure{
                img{
                    width: 350px;
                    height: auto;
                }
            }
        }
    }

}

#secao2{
    margin: 20px 0;
    width: 80%;
    height: 450px;
    background-color: #C9B1BD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
    .imgT{  
        display: flex;
        margin-left: 30px;
        .imagem{
            img{
                width: 200px;
                margin-right: 15px;
            }
        }

        .texto{
            width: 30%;
            h2{
                padding: 20px 0;
            }

            p{
                font-size: 15px;
                text-align: justify;
                &:last-of-type{
                    padding: 10px 0;
                }
            }

            button{
                margin-top: 10px;
                font-size: 18px;
                padding: 10px;
                width: 150px;
                border-radius: 4px;
                background-color: #567568;
                color: white;
            }
        }
    }

    .slider3D{
        width: 20%;
        img{
            width: 350px;
        }
    }   
}

#social{
    text-align: center;
    padding: 20px;

    h2{
        margin-bottom: 20px;
    }

    #blocos{
        display: flex;
        justify-content: center;

        .instagram{
            height: 250px;
            width: 250px;
            background-color: #7F9172;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            ion-icon{
                font-size: 55px;
            }
        }

        .textoInsta{
            height: 250px;
            width: 250px;
            background-color: #7F9172;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            p{
                font-size: 15px;
                text-align: justify;
                padding: 0 15px;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .menu-footer{
        padding: 20px;

        h3{
            margin-bottom: 20px;
        }

        a{
            text-decoration: none;
            color: black;

            &:hover{
                color:white;
            }
        }

        .submenu{
            display: flex;
            justify-content: space-between;
            width: 150px;
            font-size: 12px;
        }

        .form{
            input[type=email]{
                background-color: #B49594;
                width: 250px;
                border: none;
            }
            input[type=submit]{
                background-color: #B49594;
                border: none;
            }
        }
    }
}
